---
import { CollectionEntry, getCollection } from "astro:content";
import TeamLayout from "../../layouts/TeamLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("team");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"team">;

const post = Astro.props;
const { Content } = await post.render();
---

<TeamLayout {...post.data}>
  <h1>{post.data.name}</h1>
  <h2>{post.data.title}</h2>
  <Content />
</TeamLayout>
