---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

// the posts are displayed in a grid layout, with 3 columns depending on the screen size
// each post has the same height, if there is more text than the other posts, the text will be cut off
---

<BaseLayout>
  <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-2 mt-0 gap-y-8">
    {
      posts.map((post) => (
        <a href={`/blog/${post.slug}/`}>
          <div class="p-3 text-3xl h-full font-public font-thin">
            {post.data.title}
          </div>
        </a>
      ))
    }
  </section>
</BaseLayout>

<style>
  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }
</style>
