---
import "@fontsource/akshar";

import BaseHead from "../../components/BaseHead.astro";

import Editor from "./editor.svelte";
---

<!DOCTYPE html>
<html lang="en" class="dark min-w-full overflow-y-scroll">
  <head>
    <BaseHead />
  </head>
  <body class="">
    <main class="">
      <h2>asdasd</h2>
      <h1 class="font-bold">We are AI + D</h1>
      <Editor client:load />
    </main>
  </body>
</html>
