---
import "@fontsource/akshar";
import "bytemd/dist/index.css";

import BaseHead from "../../components/BaseHead.astro";

import Editor from "./editor.svelte";
---

<!DOCTYPE html>
<html lang="en" class="dark min-w-full overflow-y-scroll">
  <head>
    <BaseHead />
  </head>
  <body class="">
    <main class="">
      <Editor client:load />
    </main>
  </body>
</html>
