---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="About the lab"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
>
  <p>
    The AI+D Lab is the place at HfG Schwäbisch Gmünd for research and teaching
    that combines artificial intelligence and design. In the form of generated
    images and videos, intelligent sensor systems and language-based interfaces,
    Machine Learning will be increasingly used in design practice. We will
    explore the possibilities and challenges of artificial intelligence in
    design: How can AI technologies be integrated into the design process and
    how does this change the work of designers? What role can designers play in
    the (co-)design of AI-based applications and how do they need to be prepared
    for this in their education and how can we design desirable futures with AI
    technologies?
    <p>
      <p>
        In order to be able to use AI technologies in the design process, it is
        important to build up sound knowledge about the possibilities and
        limitations of this technology. As a physical location, the lab is the
        first point of contact for students and teachers and provides the
        technical infrastructure for projects and experiments with different AI
        models and technologies. The AI+D Lab is part of KITeGG.
      </p>
    </p>
  </p>
</BaseLayout>
