---
import BaseLayout from "../layouts/BaseLayout.astro";
import Image from "../components/Image.astro";
import { getCollection } from "astro:content";
import Textbox from "../components/Textbox.astro";

const pinnedPosts = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true && data.pinned === true; //filter
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const normalPosts = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true && data.pinned !== true; //filter
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const posts = [...pinnedPosts, ...normalPosts];

/* Until we have a proper design solution for this... ;-) */
function createAppearanceStyle(appearance, pinned) {
  if (pinned) {
    //if its pinned, it gets highest apearance
    return "col-span-2";
  }
  switch (appearance) {
    case "S":
      return "";
    case "M":
      return "";

    case "L":
      return "";
  }
  return "";
}

// the posts are displayed in a grid layout, with 2 columns depending on the screen size
// each post has the same height, if there is more text than the other posts, the text will be cut off
---

<BaseLayout>
  <section class="flex flex-wrap justify-center mt-0 gap-y-8 dark:text-white">
    <Textbox>
      <font slot="title">AI+Design Lab @ HfG Schw채bisch Gm체nd</font>
      <font slot="text">
        The AI+D Lab is the place at HfG Schw채bisch Gm체nd for research and
        teaching that combines artificial intelligence and design.
      </font>
    </Textbox>
    {
      posts.map((post) => (
        <div
          class:list={[
            "pb-8 px-2 text-3xl h-full border-b-2 border-black w-full font-public font-thin text-black dark:text-gray-200",
            createAppearanceStyle(post.data.appearance, post.data.pinned),
          ]}
        >
          <a href={`/microsite/blog/${post.slug}/`}>
            <h2 class="text-black dark:text-white pt-4">{post.data.title}</h2>
            <h3 class="font-normal text-black">{post.data.subtitle}</h3>
          </a>
        </div>
      ))
    }
  </section>
</BaseLayout>
