---
 import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Team"
  description="Only the brightest minds work here."
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
  heroImage="/placeholder-about.jpg"
>
  <div>
    <h2>Aeneas Stankowski</h2>
    <p>
      Aeneas Stankowski is a designer, researcher and educator working on the
      contextualization of new technologies, and lately, the boundary between
      artificial intelligence and interaction design. He has worked for Braun,
      Design Research Lab and co-founded the interaction design studio Same. In
      October 2022, together Rahel Flechtner, he joined the HfG Schwäbisch Gmünd
      as a guest professor for creative AI, building the new AI+D Lab, where
      they are researching how AI will impact human-computer interaction and
      design and how the technology can be implemented in design education.
    </p>
  </div>
  <div>
    <h2>Christopher Pietsch</h2>
    <p>
      Christopher Pietsch is a designer, researcher and educator working on the
      contextualization of new technologies, and lately, the boundary between
      artificial intelligence and interaction design. He is fluid in the mastery
      of data visualization, interaction design, and user experience design. His
      main focus is on the intersection of design and technology, and how to use
      design to create a better world.
    </p>
  </div>
</Layout>
