---
const today = new Date();
import ThemeIcon from "./ThemeIcon.astro";
---

<footer
  class="grid grid-cols-2 flex-wrap align-middle bg-red-100 justify-around w-full p-2 h-24 lg:grid-cols-2"
>
  <!-- <div><ThemeIcon class="mt-0" /></div> -->
  <img src="/hfg_logo.png" class="my-auto h-max w-32 pb-2" />
  <img src="/bmbf.svg" class="my-auto h-max w-32 pt-0" />
  <img src="/lbw.webp" class="my-auto h-max w-40 pb-2" />
  <p
    class="text-sm font-bold text-white bg-black pb-2 px-2 h-1/2 pt-2 dark:border-white"
  >
    v0.41
  </p>
</footer>
