---
const today = new Date();
import ThemeIcon from "./ThemeIcon.astro";
---

<footer
  class="flex flex-wrap align-middle justify-around w-full p-2 h-24"
>
  <!-- <div><ThemeIcon class="mt-0" /></div> -->
  <img src="/hfg_logo.png" class="my-auto h-max w-40 p-6" />
  <img src="/bmbf.svg" class="my-auto h-max w-40 p-6">
  <img src="/lbw.webp" class="my-auto h-max w-48 p-6" />
  <p class="select-none text-sm font-bold items-center justify-center h-12 flex text-center border-black-2 border-0 bg-black text-white p-4">
    v0.41
  </p>
</footer>
