---
const today = new Date();
import ThemeIcon from "./ThemeIcon.astro";
---

<footer
  class="flex align-top object-contain justify-between max-h-12 max-w-md mx-auto md:max-w-2xl lg:max-w-4xl p-2 w-full"
>
  <div><ThemeIcon class="mt-0" /></div>
  <img src="/hfg_logo.png" class="mt-0 h-12 w-auto pb-2" />
  <img src="/bmbf.svg" class="mt-0 w-1/4 h-auto pt-0" />
  <img src="/lbw.webp" class="mt-0 h-12 w-auto pb-2" />
  <p
    class="text-sm font-bold border-black pb-2 border-2 px-2 rounded-lg h-3/4 pt-2 my-0 dark:border-white"
  >
    v0.41
  </p>
</footer>
