---
export interface Props {
	date: Date;
}

const { date } = Astro.props;
---
<p class="block text-center italic font-bold mx-auto center">
<time datetime={date.toISOString()} >

	{
		date.toLocaleDateString('en-us', {
			year: 'numeric',
			month: 'short',
			day: 'numeric',
		})
	}
	
</time></p>