---
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
import { SITE_TITLE } from "../consts";
import { date } from "astro/zod";
---

<header
  class="w-full fixed top-0 transition-all duration-200  backdrop-blur-2xl bg-white/50 "
>
  
  <div id="nav" class="flex transition-all flex-wrap flex-auto justify-start min-w-full w-1/2 align-center pb-0 max-w-md mx-auto">

    <Logo />
    <div class="flex justify-evenly w-full md:w-1/2 flex-nowrap">
    <HeaderLink href="/">Blog</HeaderLink>
    <HeaderLink href="/team">Team</HeaderLink>
    <HeaderLink href="/features/welcome/">About</HeaderLink>
    </div>
    <!-- <input
      type="search"
      placeholder="search"
      class="hidden relative w-28 focus:w-1/2 text-right px-2 text-atlas h-11 font-bold text-xl py-2 transition-all duration-200 backdrop-blur-lg bg-stone-200/60 focus:bg-stone-300/75 !outline-noneflex-auto focus:shadow-md hover:shadow-md"
    /> -->
  </div>
 
  <style>
    header {
      z-index: 1;
    }
  </style>
</header>

<script>
document.documentElement.classList.remove("dark");

  window.addEventListener("scroll", function() {
    var nav = document.getElementById("nav");
    var scrollPosition = window.scrollY;

    
    if (scrollPosition > 25) {
      nav.classList.add("shadow-md");
      nav.classList.remove("");
    } else {
      nav.classList.remove("shadow-md");
      nav.classList.add("");
    }
  });

</script>