---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="before:absolute before:backdrop-blur-lg before:-z-10 before:-inset-1 before:gradient-mask-b-50 min-h-full sticky top-0 bg-gradient-to-b from-white via-white/50 to-white/0

">
  <img src="../../public/aid-leafs.png" class="mx-auto w-80 md:w-96">
  <div class="flex gap-4 grid-cols-4 h-12 max-w-md mx-auto md:max-w-2xl w-full sm:mb-0">
    <!-- <HeaderLink href="/">Home</HeaderLink> obsolute link to main-->
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/team">Team</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <input type="search" 
    class="
    relative w-1/4 focus:w-1/2 text-public font-bold text-xl text-center py-2 transition-all duration-200 backdrop-blur-lg bg-stone-200/60 focus:bg-stone-300/75 !outline-none rounded-2xl flex-auto focus:shadow-md hover:shadow-md"
    
    />
    <button
    class="
    relative z-[2] w-12 flex items-center rounded-r bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
    type="button"
    id="button-addon1"
    data-te-ripple-init
    data-te-ripple-color="light">S</button>
  </div>
</header>
