---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="min-h-full">
  <h2
    class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"
  >
    {SITE_TITLE}
  </h2>
  <nav class="bg-gray-800">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/team">Team</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </nav>
</header>
