---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="min-h-full sticky top-0 bg-gradient-to-b from-white via-white/40 to-transparent">
  <img src="../../public/aid-leafs.png" class="mx-auto w-64 md:w-96">
  <div class="grid gap-4 grid-cols-4 h-12 max-w-md mx-auto md:max-w-2xl">
    <HeaderLink class="text-public font-bold text-xl" href="/"><p class="text-center py-2 transition-all duration-200 backdrop-blur-lg bg-gradient-to-b from-white/80 to-stone-300/20 rounded-2xl flex-auto hover:shadow-md">Home</HeaderLink></p>
    <p class="text-center py-2 transition duration-300 backdrop-blur-lg bg-gradient-to-b from-white/80 to-stone-300/20 bg-opacity-60 rounded-2xl flex-auto hover:bg-opacity-90"><HeaderLink class="text-public font-bold text-xl" href="/blog">Blog</HeaderLink></p>
    <p class="text-center py-2 transition duration-300 backdrop-blur-lg bg-gradient-to-b from-white/80 to-stone-300/20 bg-opacity-60 rounded-2xl flex-auto hover:bg-opacity-90"><HeaderLink class="text-public font-bold text-xl" href="/team">Team</HeaderLink></p>
    <p class="text-center py-2 transition duration-300 backdrop-blur-lg bg-gradient-to-b from-white/80 to-stone-300/20 bg-opacity-60 rounded-2xl flex-auto hover:bg-opacity-90"><HeaderLink class="text-public font-bold text-xl" href="/about">About</HeaderLink></p>
  </div>
</header>
