---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    { "text-black": !isActive },
    { "text-black": isActive },
  ]}

  class="flex-auto"
  {...props}
><p class:list={[
  {"" : true},
  {"": !isActive},
  {"font-medium": isActive}
  ]}>
  <slot />
</p>
</a>
