---
import NavItem from "./NavItem.astro";
import Logo from "./Logo.astro";
---

<header class="fixed w-full md:w-auto transition-all duration-200">
  <nav
    id="nav"
    class="flex transition-all rounded-lg shadow-white bg-purple-300 bg-opacity-50 justify-start align-center pb-0 backdrop-blur-2xl px-8 mx-2"
  >
    <Logo />
    <div class="flex justify-evenly flex-nowrap">
      <NavItem href="/microsite/">Blog</NavItem>
      <!--      <NavItem href="/team">Team</NavItem> -->
      <NavItem href="/microsite/blog/welcome/">About</NavItem>
    </div>
    <!-- <input
      type="search"
      placeholder="search"
      class="hidden relative w-28 focus:w-1/2 text-right px-2 text-atlas h-11 font-bold text-xl py-2 transition-all duration-200 backdrop-blur-lg bg-stone-200/60 focus:bg-stone-300/75 !outline-noneflex-auto focus:shadow-md hover:shadow-md"
    /> -->
  </nav>

  <style>
    header {
      z-index: 1;
    }
  </style>
</header>

<script>
  document.documentElement.classList.remove("dark");
</script>
