---
// type string
---

<div
    class="p-2 px-8 text-xl h-full border-none rounded-lg bg-zinc-100 border-black w-3/4 font-public font-thin text-black dark:text-gray-200"
>
    <h2 class="text-lg text-black dark:text-white">
        <slot name="title" />
    </h2>
    <h2 class="font-normal text-sm text-black">
        <slot name="text" />
    </h2>
</div>
