---
const randomVersion = Math.floor(Math.random() * 1000);
---

<label
  class="relative inline-flex items-center mb-0 ml-4 cursor-pointer left-0 top-2"
>
  <input type="checkbox" id="toggleswitch" value="" class="sr-only peer" />
  <div
    class="w-9 h-5 inline bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-gray-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-gray-600"
  >
  </div>
  <span id="ldlabel" class="ml-1 text-sm font-medium text-gray-900 dark:text-gray-300">
    light/dark</span
  >
</label>
<!-- <script is:inline>
  const toggleswitch = document.getElementById("toggleswitch");
  const ldlabel = document.getElementById("ldlabel");

  toggleswitch.addEventListener("click", () => {
    tgldark();
  });

  checkmode();

  function tgldark() {
  
    if (toggleswitch.checked) {
      localStorage.theme = "dark";

    } else {
      localStorage.theme = "light";
    }
    checkmode();
  }

  function checkmode() {
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
      ldlabel.innerText = "dark";
      toggleswitch.checked = true;
    } else {
      ldlabel.innerText = "light"
      document.documentElement.classList.remove("dark");
    }
  }
</script> -->
